// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$color: #f8f8f8;

.main__form {
  background-color: $color;
  height: 2000px;
  .inputform {
    height: 250px;
    width: 670px;
    padding: 30px 0 50px 0;
    margin: 0 0 0 700px;
    background-color: white;
    border: 1px solid;
    border-color: $color;
    text-align: center;
    &__header__top {
      margin:20px 0 20px 0;
      padding: 0 0 0 75px;
      display: flex;
      font-size:15px;
      font-weight: 600;
      position: relative;
      .inputform__header__title {
        padding: 0 30px 0 0;
      }
      .inputform__header__hissu {
        width: 8%;
        background-color:red;
        color: $color;
        border-radius: 3px;
        text-align: center;
      }
      .inputform__header__nini {
        background-color:gray;
        color: $color;
        border-radius: 3px;
        width: 8%;
        text-align: center;
      }
    }
    &__body {
      height: 50px;
      &__upload {
        height: 100px;
        width: 80%;
        &__number {
          margin: 25px 0 0 0;
        }
      }
    }
    .inputform__category {
          height: 450px;
          width: 600px;
          padding: 30px 0 0 70px;
          background-color: white;
          border: 1px solid;
          border-color: #f8f8f8;
          .inputform__category__header {
            margin:20px 0 20px 0;
            
            display: flex;
            font-size:15px;
            font-weight: 600;
            position: relative;
          }
          .inputform__category__header__title {
            padding: 0 30px 0 0;
          }
          .inputform__category__header__hissu {
            width: 8%;
            background-color:red;
            color: $color;
            border-radius: 3px;
            text-align: center;
          }
          .serect_field {
            margin: 0 150px 0 0;
          }
        }
        
        select {
        height: 40px;
        width: 500px;
        cursor: pointer;
      }
      input[type="text"] {
        height: 40px;
        width: 500px;
      }
      input[type="number"] {
        height: 45px;
        width: 400px;
      }
      input[type="submit"] {
        height: 60px;
        width: 500px;
        margin: 60px 0 0 15px;
        background-color: red;
        color: $color;
        font-size: 25px;
        font-weight: 700;
        border-radius: 30px;
        cursor: pointer;
        border: none;
        outline: none;
        box-shadow: 0 5px #bfbfbf;
      }
      input[type="submit"]:hover {
        background-color: pink;
      }
      input[type="submit"]:active {
        box-shadow: none;
      }
      
      .inputform__header {
        margin:20px 0 20px 0;
        display: flex;
        font-size:15px;
        font-weight: 600;
        position: relative;
        .inputform__header__title {
          padding: 0 30px 0 0;
        }
        &__hissu {
          width: 8%;
          background-color:red;
          color: $color;
          border-radius: 3px;
          text-align: center;
        }
        &__nini {
          background-color:gray;
          color: $color;
          border-radius: 3px;
          width: 8%;
          text-align: center;
        } 
      }
      
      .inputform__price {
        height: 200px;
        width: 600px;
        padding: 30px 0 0 70px;
        background-color: white;
      }
      .inputform__submit {
        height: 200px;
        width: 600px;
        padding: 30px 0 0 70px;
        background-color: white;
      }
      .hidden-content {
      padding: 0 0 30px 0;
    .hidden-field {
      display: none;
    }
    .hidden-checkbox {
      display: none;
    }
  }
  //投稿欄以外のCSSは省略します
  
  //image投稿欄のCSS
  .post__drop__box__container{
    display: block;
    margin: 16px auto 0;
    display: flex;
    flex-wrap: wrap;
    
    //プレビュー表示欄のCSS
    .prev-content {
      display: flex;
      .preview-box {
        height: 162px;
        width: 112px;
        margin: 0 15px 10px 0;
        .upper-box {
          height: 112px;
          width: 100%;
          img{
          width: 112px;
          height: 112px;
        }
      }
      .lower-box {
        display: flex;
        text-align: center;
        .update-box {
          color: #00b0ff;
          width: 50%;
          height: 50px;
          line-height: 50px;
          border: 1px solid #eee;
          background: #f5f5f5;
          cursor: pointer;
        }
        .delete-box {
          color: #00b0ff;
          width: 50%;
          height: 50px;
          line-height: 50px;
          border: 1px solid #eee;
          background: #f5f5f5;
          cursor: pointer;
        }
      }
    }
  }
  
  //投稿クリックエリアのCSS
  .label-content{
    margin-bottom: 10px;
    width: 620px;
    .label-box {
      display: block;
      border: 1px dashed #ccc;
      position: relative;
      background: #f5f5f5;
      width: 100%;
      height: 162px;
      margin: 0 0 30px 23px;

      cursor: pointer;
      &__text-visible {
        position: absolute;
        top: 50%;
        left: 16px;
        right: 16px;
        text-align: center;
        font-size: 14px;
        line-height: 1.5;
        font-weight: bold;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        pointer-events: none;
        white-space: pre-wrap;
        word-wrap: break-word;
      }
    }
  }

  
      
  .hidden-field {
    display: none;
  }
  .hidden-checkbox {
    display: none;
  }
}
}
}
.post__drop__box__container{
  margin: 0 0 0 10px;
}

.inputform__product {
  height: 500px;
  width: 670px;
  padding: 30px 0 30px 0;
  background-color: white;
  border: 1px solid;
  border-color: #f8f8f8;
  
  .inputform__header__item {
    display: flex;
    padding: 0 0 0 50px;
    font-weight: 600;
    .inputform__header__title__item {
      margin: 0 30px 0 0;
    }
  
  }
  .inputform__body__upload {
    margin: 0 0 30px 0;
    
  }
} 







